*{
    box-sizing: border-box;
}
#container{
    width: 300px;
    height: 300px;
    position: relative;
}
.row{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
    left: 100px;
}
.green{
    background-color: green;
    right: 0;
}
.yellow{
    background-color: yellow;
    top: 100px;
}
.black{
    background-color: black;
    top: 100px;
    left: 100px;
}
.orange{
    background-color: orange;
    right: 0;
    top: 100px;
}
.purple{
    background-color: purple;
    bottom: 0;
    left: 0;
}
.gray{
    background-color: gray;
    bottom: 0;
    left: 100px;
}
.pink{
    background-color: pink;
    bottom: 0;
    right: 0;
}
.circle{
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 25px;
}

.one{
    background-color: pink;
}
.two{
    background-color: gray;
}
.three{
    background-color: purple;
}
.four{
    background-color: green;
}
.five{
    background-color: red;
}
.six{
    background-color: blue;
}
.seven{
    background-color: orange;
}
.eight{
    background-color: yellow;
}
.nine{
    background-color: black;
}