* {
	box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
hr{
    width: 70px;
    border: 1px solid #007bff;
    border-bottom: 0;
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    padding: 14px 20px;
    transition: all .3s;
    display: inline-block;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    
}
.btn:hover{
    color: white;
    background-color: #007bff;
}
section{
    padding: 120px 0;
}
.section-header{
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-header h2{
    color: #333;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
}
/* header styles */
span{
    width: 10px;
    height: 10px;
    font-size: 50px;
    
}
.main-header{
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-header h1{
    text-align: center; 
    color: #007bff;
    font-size: 4.2em;
    margin: 0;
}
.main-header p{
    height: 35px;
    color: #333;;
    font-size: 1.3em;
    margin: 40px 0;
}
.main-header p span{
    color: #007bff;
}

/* nav styles */
label[for="drop-nav"]{
    display: none;
}
#drop-nav{
    display: none;
}
.main-menu{
    background-color: #007bff;
}
.main-menu ul{
    padding: 10px 0;
    text-align: center;
}
.main-menu ul li{
    display: inline-block;
    margin: 0 10px;
}
.main-menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: all 0.3s;
}
.main-menu ul li a:hover{
    color: #007bff;
    background-color: #fff;
}
/* About secttion */
.about-img{
    border-radius: 50%;
}
.about{
    text-align: center;
}
.about p{
    max-width: 700px;
    margin: 40px auto 30px auto;
    color: #777;
    line-height: 1.4;
}
/* portfolio section */
.portfolio{
    background-color: #f2f1ed;
}

.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item{
    flex-basis: 25%;
    height: 200px;
    position: relative;
}
.portfolio-wrapper .portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-wrapper .portfolio-item h3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.8);
    margin: 0;
    text-align: center;
    line-height: 200px;
    color: white;
    font-weight: 300;
    font-size: 3em;
    opacity: 0;
    transition: all 0.3;
}
.portfolio-wrapper .portfolio-item h3:hover{
    opacity: 1;
}
/* contact section */

.contact form{
    max-width: 700px;
    margin: 40px auto 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact input[type="text"],
.contact input[type="email"]{
    flex-basis: 48%;
    padding: 15px;
    margin-bottom: 15px;
}
.contact textarea{
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 15px;
    height: 100px;
}
.social-links{
    margin-top: 75px;
    text-align: center;
}
.social-links .social-link{
    font-size: 2.5em;
    color: #007bff;
    transition: all .3s;
    display: inline-block;
    margin: 0 20px;
}
.social-links .social-link:hover{
    color: #777;
}
/* main footer styles */
.main-footer{
    background-color: #f2f1ed;
    padding: 30px;
    text-align: center;
    color: #777;
}

/* rsponsive styles */
@media (max-width: 1200px){
    .container{
        max-width: 992px;
        margin: auto;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 768px;
    }
    .portfolio-wrapper .portfolio-item{
        flex-basis: 50%;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 95%;
    }
    .portfolio-wrapper .portfolio-item{
        flex-basis: 100%;
    }
}
@media (max-width: 480px){
    .main-header h1{
        font-size: 3em;
    }
    .about .about-img{
        max-height: 200px;
        max-width: 200px;
    }
    .contact input[type="text"],
    .contact input[type="email"]{
       flex-basis: 100%; 
    }
    label[for="drop-nav"]{
        display: block;
        padding: 14px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: right;
        cursor: pointer;

    }
    .main-menu ul{
        display: none;
    }
    #drop-nav:checked + ul{
        display: block;
    }
    .main-menu ul li{
        display: block;
        text-align: right;
        margin: 0;
    }
}