*{
box-sizing: border-box;
}

.container{
  position: relative;
  width: 300px;
  height: 150px;
  background-color: black;
  margin: 50px;
}
.number{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  animation-name: counter;
  opacity: 0;
  animation-duration: 1s;
  font-family: 'Trispace', sans-serif;
}

@keyframes counter{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.ten{
  animation-delay: 1s;
}
.nine{
  animation-delay: 2s;
}
.eight{
  animation-delay: 3s;
}
.seven{
  animation-delay: 4s;
}
.six{
  animation-delay: 5s;
}
.five{
  animation-delay: 6s;
}
.four{
  animation-delay: 7s;
}
.three{
  animation-delay: 8s;
}
.two{
  animation-delay: 9s;
}
.one{
  animation-delay: 10s;
}
.zero{
  animation-delay: 11s;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}






/* .count::after {
  font: 800 40px system-ui;
  content: counter(count);
  animation: counter 10s linear infinite alternate;
  counter-reset: count 0;
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  10% {
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }
  70% {
    counter-increment: count 7;
  }
  80% {
    counter-increment: count 8;
  }
  90% {
    counter-increment: count 9;
  }
  100% {
    counter-increment: count 10;
  }
} */
